<!DOCTYPE html>
<html>
<head>
    <title>Lancer le Traitement des Emails</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Lancer le Traitement des Emails</h1>
        <p>Cliquez sur le bouton ci-dessous pour lancer le traitement des emails.</p>
        <form method="post">
            <button type="submit" class="btn btn-success">Lancer le Traitement</button>
        </form>
       <br>
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Retour à la liste</a>
    </div>
</body>
</html>
